

 /* html tags */
h1,h2,h3,p,body{
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color:white; 
    font-size: 3.5rem;
    line-height: 2; 
    font-weight:800;
}
h3 {
 color:black;
  font-size: 2rem; 
  line-height: 2; 
  font-weight:800;
  text-align: center;
}
h2 {
    color :black;
    font-size: 3rem;
    line-height: 2;
    font-weight:800;
}
p{
font-size:medium;
font-weight: normal;
color: #8f8f8f;
}
body{
    font-size: 1rem;
    line-height: 2; 
}

 /* classes */
.download-button{
    margin: 2%; padding: 3%;
}
.container-fluid {
    padding: 4%  15%;
}
.title{
    position: relative;
}
.features {
    padding: 0  0;
    text-align: center;
    position: relative;

} 
.navbar-brand {
    padding-left: 0;
    margin-left: 0;
 font-size: 2.5rem;
 font-weight: bold;
 font-family: 'Ubuntu', sans-serif;
}
.navbar {
    padding-bottom: 25px;
    padding-left: 0;
    padding-top: 0;
}
.nav-item {
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
}
.title-img {
 padding-left:75px;
 padding-top: 4%;
 width: 80%;
 transform: rotate(25deg);
 position: relative;

}
.container-navbar{
    padding-right: 0;
}
.carousel-inner{
    padding:   3%  15%;
}
.testimonial-image {
   margin-left: 10%;
   width: 10%;
   border-radius: 100%;
}
.press-image{
    width :15%;
    margin :20px 20px 50px;
}

.icon {
     color:  #ef8172;
}
.icon:hover{
color: #ff4c68;

}
 /* id's */
#title {
    background-color: #ff4c68;
}
#features{
    color: #8f8f8f;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    background-color: white;
    padding-top: 150px;
    bottom: 120px;
}

#testimonials {
   
   text-align: center;
   background-color:#ef8172; 
   margin-top: 0;

}
#pricing{
    font-family: 'Montserrat', sans-serif;
    font-size: medium; padding: 100px;
    text-align: center;background-color: whitesmoke;
}
#press {
    background-color:#ef8172; 
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
}
#cta{
  background-color: #ff4c68;  
  text-align: center;
}
#footer{
   text-align: center;
}

/* media query */
    
@media (min-width: 988px) and  (max-width: 1248px) {
.title-img {
    position: static;
    transform: rotate(0);
    padding-left: 0;
    width:60%;
    }
#features{
    position: static;
}
.container-fluid {
    padding: 4%  10%;
}
.container-navbar{
    padding-right: 0;
    line-height: 1;
}

}
@media (max-width :1000px) {
    .title-img {
        position: static;
        width: 80%;
     transform: rotate(0);
     padding-top: 20%;
     padding-left:0;
        }
    #features{
        position: static;
    }
.title {
 text-align: center;
}
}
/* fro mobile phone */
@media (max-width: 400px){ 
    h1 {
        font-size: xx-large;
        line-height: 1.5;
        padding-bottom: 10%;
    }
    h2{
        font-size: x-large;
    }
    h3 {
        font-size: large;
    }
    .download-button{
        font-size: mediumssss;
    }
    .navbar-brand{
        font-size: x-large;
    }
    #pricing{
        padding: 3%;
    }
    .navbar-nav .nav-link {
        text-align: start;
        font-size: medium;
    }
    .navbar-toggler {
        padding: 0;
       font-size:normal;
}
}
@media (min-width: 400px) and  (max-width: 600px){
    h1 {
        font-size: xxx-large;
        line-height: 1.5;
        padding-bottom: 10%;
    }
    h2{
        font-size: xx-large;
    }
    h3 {
        font-size: larger;
    }
    #pricing{
        padding: 3%;
    }
    .download-button{
        font-size: x-large;
        padding: 5%;
        
    }
    .navbar-brand{
        font-size: x-large;
    }
    .navbar-nav .nav-link {
        text-align: start;
        font-size: medium;

    }
    .navbar-toggler {
        padding: 0;
       font-size: normal;

    }
    .copyright {
        margin-bottom: 20px;
        font-size: xx-small;
    }
}



    